html {
    font-family: 'lato', 'poppins';
}

h1 {
  font-size: 2em;
  color: #fff
}

h2 {
    text-align: centre;
    font-size: 1.5em;
    color: rgb(65, 62, 62);
}

input {
    border: 1px solid grey;
    color: rgb(65, 62, 62);
    font-size: 0.8em;
    width: 25em;
}

.logoSide {
    width: 5em;
    align-self: center;
}
header {
    background-color: #00aeff;
    display: flex;
    justify-content: space-around;
}

.fab {
    color: #fff;
    background-color: #4FCE5D;
    margin: 0.5em 0 0 0;
    font-size: 1.5em;
}

.menu-list{
    list-style-type: none; 
}

.dropdown-toggle {
    width: 15em;
    height: 2.5em;
    border-radius: 0 5em 5em 0;
    background-color: #084482;
    position: relative;
    bottom: 0.8em;
}

.contact-img {
    border-radius: 5em;
    position: absolute;
    bottom: -0.09em;
    left: -1em;
    width: 2.5em;
}

.contact-text-main {
    font-size: 10px;
    line-height: 12px;
    color: #00aeff;
    display: block;
} 

.contact-num {
    font-size: 1em;
    color: #fff;
    line-height: 1.5em;
}

.menuItems {
    display: inline-block;
    margin-left: 2em;
}

.whattsapp,
.dropdown,
.naira {
    border-right: 1px solid white;
    padding: 0.2em 0.5em;
}

.caret {
    color: white;
}

.inline {
    display: inline;
    color: white;
}

.flag {
    width: 1em;
    height: 0.8em;
}

.accountContact {
    width: 1em;
    height: 0.9em;
}

.main {
    margin: auto 10em auto 10em;
}

.homePage {
    background: url(Assets/Images/homeimg.jpg);
    background-size: cover;  
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6em;
}

.search-Text {
    color: #fff;
}

.btn {
    color: #fff;
    background-color: #00aeff; 
    padding: 10em; 
}

.hotel-form-Container {
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.111);
    width: 100%;
    text-align: center;
    position: sticky;
    margin-top: -2em;
    top: 0em;
    z-index: 100;
}

.hotel-form {
    padding: 2em;
}

.hotel-Search {
    padding: 1em;
    border-radius: .5em;
}

.city {
    padding: 0.9em;
    width: 35em;
}

.destination {
    text-align: center;
}

.h2 {
    margin: 3em 0 0.3em 0;
}

.para2 {
    font-weight: 400;
    font-size: 1em;
}

.blue-underline {
    border-top: 3px solid #00aeff;
    margin: 1em auto;
    width: 2.5em;
}

.topPickCities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    text-align: center;
    font-size: 0.8em;
    font-weight: 400;
}

.topCities {
    border: 2px solid #00aeff;
    margin-top: 2em;
    margin-right: 2em;
    border-radius: 0.5em;
    line-height: 2em;
    cursor: pointer;  
    
}

.topCities:hover {
    transition: .3s ease-out;
    background-color: #00aeff;
    color: white;
}

.topCities h3 {
    color: #00aeff;
}

.topCities h3:hover {
    color: white
}

.rooms {
    width: 100%;
} 

.roomContainer-Grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
}

.roomPara {
    background-color: #FC8233;
    font-size: 0.9em;
    color: #fff;
    padding: 0.2em 2em 0.2em 1em;
    font-weight: 500;
    position: relative;
    left: -0.8em;
    top: 2em;
}

.room-bottom-border {
    border:  1px solid rgba(0, 0, 0, 0.222);
    border-top: 0;
    padding: 0.5em;
}

.room-bottom-border h3 {
    color: #00aeff;
}

.room-bottom-border h6 {
    color: rgb(65, 62, 62);
    font-weight: 400;
    font-size: 0.5em;
}

.cityImageContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
} 

.cityLocation {
  display: block;
  position: relative;
  top: 6.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
}

 .cityName {
    border-radius: 0.3em;
}
.booking {
  text-align: center;
  position: relative;
  bottom: 4.5em;
  font-size: 1.2em;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.333);
}

.bookingContainer button {
  padding: 1em;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.333);
  border-radius: 0.2em;
  font-weight: 600;
  color: #fff;
  
}

/* .booking:hover {
  display: none;
}

.bookingContainer button:hover{
  display: none;
  background-color: #00aeff
} */

/* STATES STYLING */
.statesContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 0.5em;
  margin: 2em;
}

.states h4 {
  color: #00aeff;
}

.states p {
  color: rgba(0, 0, 0, 0.555);
  font-size: 0.9em;
}

.emailbtn {
    color: #fff;
    background-color: #00aeff; 
    padding: 0.8em 3.5em;
    border-radius: 0.2em;
}

.emailInputContainer {
    text-align: center;
    margin-top: 2em;
}

.emailSection {
    padding: 0.5em 0 5em 0;
}

.dealsAndOffer {
    background-color: #fafafa;
}

.getApp {
    background-color: #EFF8FB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.getApp-text-Image {
    padding: 6em 0 0 0;
}

.getAppWrap h2 {
  font-size: 4em;
  font-weight: 600;
  color: #00aeff;
  margin-bottom: 0.2em;
}

.getAppWrap h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.3em;
}


.getAppWrap {
  margin-top: 10em;
  margin-left: 5em;
}

.getAppWrap p {
    margin-bottom: 2em; 
}
.featuredOrg {
    width: 10%;
}

.featuring {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 5em 5em;
}

.bookings {
  padding: 2em;
}
.bookings h2 {
  padding: 1em;
}

.addHotel {
  margin-top: 2em;
}

.hotDealsCircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 1.5em;
}

.footer-HotDeals{
    display: flex;
    justify-content: center;
    background-color: #084482;
}

.hotDeals {
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

.footer-emailbtn {
    padding: 0.8em 3.5em;
    border-radius: 0.2em;
    margin-left: 5em;
}
.hotelDealsText h3 {
    color: white;
}

.hotelDealsText p {
    color: #00aeff;
}

.advert {
    display: flex; 
    align-content: center;
    justify-content: space-between; 
    margin: 0 5em 0 13em;

}

.advert li {
    list-style: none;
    color: #14acf2;
    margin: 0 3em 0 0;
}

.events {
    text-align: center;
    margin: 1em 8em 1em 10em;
    border-bottom: 1px solid grey;
}

.events span {
    padding-right: 7em;
    color: grey;
}
.topCitiesList {
    margin-left: 2em;
}


