* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.logoSide {
    width: 5em;
    padding-left: 0.05em;
}
header {
    background-color: pink;
    display: flex;
}

.menu {
    margin-left: 35em;
}

.fab {
    color: #fff;
    background-color: #4FCE5D;
    margin: 0.5em 0 0 0;
    font-size: 1.5em;
}

.menu-list{
    list-style-type: none; 
}

.dropdown-toggle {
    width: 15em;
    height: 2.5em;
    border-radius: 0 5em 5em 0;
    background-color: #084482;
    position: relative;
    bottom: 0.8em;
}

.contact-img {
    border-radius: 5em;
    position: absolute;
    bottom: -0.09em;
    left: -1em;
    width: 2.5em;
}

.contact-text-main {
    font-size: 10px;
    line-height: 12px;
    color: #00aeff;
    display: block;
} 

.contact-num {
    font-size: 1em;
    color: #fff;
    line-height: 1.5em;
}

.menuItems {
    display: inline-block;
    margin-left: 2em;
}

.inline {
    display: inline;
}

.flag {
    width: 1em;
    height: 0.8em;
}

.accountContact {
    width: 1em;
    height: 0.9em;
}